<h1>Should Have Player Info Below</h1>
<div class="sample"></div>
<div class="lap"></div>

<div class="test">
    <h5>SELECT Sample:</h5>
    <select id="selDataset" onchange="optionChanged(this.value)"></select>
  </div>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script> -->
<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script> -->
